@charset "UTF-8";

body {
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 6px solid #f4424e;
}

.container-narrow {
  margin: 20px auto;
  max-width: 750px;
}

a:link {
  color:#f4424e;
}

a:visited {
  color:#000000;
}
