@charset "UTF-8";

body {
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 6px solid #cc022f;
}

.container-narrow {
  margin: 20px auto;
  max-width: 750px;
}

a:link {
  color:#cc022f;
}

a:visited {
  color:#838181;
}
