<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}David Brenneman</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="keywords" content="david brenneman python django pyramid d3.js iOS iPhone javascript html5 web mobile application consulting software engineer developer hacker maker geek devops cloud aws openstack linux open source" />
    <meta name="description" content="david brenneman mobile web application consulting" />
    <meta name="author" content="David Brenneman">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="screen" charset="utf-8" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" type="text/css" media="screen" charset="utf-8" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dontpanic.css') }}" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <div class="container-narrow content">
        <div class="navbar">
        <ul class="nav  pull-right">
          <li class="{% block home_highlight %}{% endblock %}"><a href="/"><i class="icon-home"></i>Home</a></li>
          <li class="{% block blog_highlight %}{% endblock %}"><a href="/blog"><i class="icon-comments"></i>Blog</a></li>
          {% if session.logged_in %}
          <li><a href="{{ url_for('logout') }}"><i class="icon-remove-sign"></i>Logout</a></li>
          {% endif %}
        </ul>
        </div>
      <div class="page-header">
        <h2>David Brenneman</h2>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alerts">
            {% for message in messages %}
              <div class="alert">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      <hr>
      <ul class="inline">
        <li>
          <a href="mailto:db@davidbrenneman.com"><i class="icon-envelope-alt"></i>db@davidbrenneman.com</a>
        </li>
        <li>
          <a href="https://twitter.com/davidbrenneman" target="_blank"><i class="icon-twitter"></i>@davidbrenneman</a>
        </li>
        <li>
          <a href="https://github.com/dbrenneman" target="_blank"><i class="icon-github"></i>dbrenneman</a>
        </li>
        <li>
          <a href="/">&copy; David Brenneman {{ year }}</a>
        </li>
      </ul>
    </div>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script> -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37129617-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
  </body>
</html>
