{% extends "base.html" %}
{% block home_highlight %}active{% endblock %}

{% block content %}
<div class="jumbotron">
  <h2>Custom software solutions.</h2>
  <h3 class="lead">I provide end to end solutions to problems, often via code.</h3>
</div>
<div class="row-fluid panic">
  <div class="span6">
    <h4><i class="icon-cogs"></i> Web Apps</h4>
    <p>Whether it is a customer facing application, an internal tool, or an API, I make your vision a reality. It's what I love to do.</p>

    <h4><i class="icon-reorder"></i> Full-Stack Solutions</h4>
    <p>I bring mockups and designs to life through the use of both code and markup. I provide semantic HTML5, CSS and JavaScript development on the front end and Python on the back end.</p>
  </div>

  <div class="span6">
    <h4><i class="icon-cloud"></i> Infrastructure</h4>
    <p>I automate provisioning and scaling of your server infrastructure so that you can focus on running your business.</p>

    <h4><i class="icon-unlock"></i> Results Driven Development</h4>
    <p>I release working code early and often; continually incorporating your feedback in an iterative development process designed to produce exactly the solution you envision.</p>
  </div>
</div>
{% endblock %}

