{% extends "base.html" %}
{% block home_highlight %}class="active"{% end %}
{% block body %}
<div class="hero-unit">
  <h3>Aw, snap!</h3>
  <p>No such page exists, please check the number you were trying to reach and dial again.</p>
</div>
{% end %}
