{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}
{% block home_highlight %}class="active"{% endblock %}
{% block body %}
<div class="jumbotron">
  <p>Open source hacker, runner, climber, backpacker, snowboarder, yogi and traveler.</p>
</div>
{% endblock %}
